<h1>Collections#show</h1>
<p>Find me in app/views/collections/show.html.erb</p>

<h1><%= @collection.name %></h1>
<br>
ITEMS
<ul>
<% @items.each do |item| %>
    <li><%= link_to item.name, item_path(item.id)%></li>
<%end%>
</ul>