<% unless $endpoint.include? 'item' %>
    <hr style="background-color: #FFFFFF; height: 2px;"/>
<% end %>

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne">View Source JSON</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <pre><code class="prettyprint"><%= JSON.pretty_generate($json_node) %></code></pre>
        </div>
    </div>
</div>

<p> <strong>API Endpoint:</strong> <a href=<%= $endpoint %>><%= $endpoint %></a></p>